name: Tests
on:
  push:
    branches:
      - master
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install requirements
        run: |
          pip install -r packages/sdk/tests/requirements.txt
          pip install -r packages/web-server/requirements.txt
      - name: Run SDK tests
        run: | 
          cd packages/sdk
          pytest tests/
          cd ../..
      - name: Run web-server tests
        run: | 
          cd packages/web-server
          pytest tests/
          cd ../..